@import '../../styles/settings.scss';

.navbar {
    background-color: darken($color-dark, 3%);
    padding: 1px;
}

.space {
    display: flex;
    justify-content: space-between;
}

.link {
    color: $color-light;
    text-decoration: none;
    font-family: $font-text;
    font-weight: bold;

    &:not(:first-child) {
        margin-left: 10px;
    }

    .icon {
        font-size: $base-size * 2;
    }
}

